<section class="section pt-5 pb-1">
  <nav class="level">
    <div class="level-item has-text-centered">
      <p class="subtitle is-4 has-text-centered has-text-grey">All Groups</p>
    </div>
  </nav>
</section>

<section class="section">
  <div class="columns is-mobile is-centered">
    <div class="column">
      <% @groups.each do |group| %>
        <%= render group %>
      <% end %>
    </div>
  </div>
</section>

<%= link_to "Add new", new_group_path, class: "button input is-radiusless is-link" %>
