<section class="section has-background-white pt-5 pb-5">
  <nav class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-5">
         Total
        </p>
      </div>
    </div>

    <div class="level-right">
      <p class="level-item has-text-black has-text-weight-bold"><%= pluralize(total(@external_activities), 'minute') %></p>
    </div>
  </nav>
</section>

<section class="section">
  <div class="columns is-mobile">
    <div class="column">
      <%= activities?(@external_activities) %>
    </div>
  </div>
</section>

<%= link_to "Add new", new_activity_path, class: "button input is-radiusless is-link" %>
